.flex {
    display: flex;
}
.flexCenter {
    justify-content: center;
    align-items: center;
}
.flexAround {
    justify-content: space-around;
    align-items: center;
}
.flexBetween {
    justify-content: space-between;
    align-items: center;
}
.col {
    flex-direction: column;
}

.grid {
    display: grid;
}

.gridCenter {
    place-items: center;
}

#root {
    height: 100%;
    width: 100%;
}
/* Main */
.__main {
    height: 100%;
    width: 100%;
    background: var(--bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.__main.sBlr::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px);
    z-index: 2;
}
